<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

		<div class="container">
			<h1>
				<label th:text="#{app.title}"></label>
			</h1>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					    
					 
					    <div class="form-group" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">  
					          <label th:text="Nome"></label>
					          <input class="form-control" type="date" th:field="*{nome}" />
					    </div>
					    
					     <div class="form-group" th:classappend="${#fields.hasErrors('categoria')}? 'has-error'">  
					          <label th:text="Categoria"></label>
					          <input class="form-control" type="date" th:field="*{categoria}" />
					    </div>
					    
					     <div class="form-group" th:classappend="${#fields.hasErrors('preco')}? 'has-error'">  
					          <label th:text="Preco"></label>
					          <input class="form-control" type="date" th:field="*{preco}" />
					    </div>
					    
					    
					    <div class="form-group">  
					    	<label th:text="'Fluxo Normal'"></label>
  							<input type="checkbox" th:field="*{fluxoNormal}" />
					    </div>
					    
					    
					    
					    
					    <input type="submit" value="Enviar" class="btn btn-primary"/>
 
					</form>
				</div>
			</div>
		</div>
		<div th:insert="~{footer :: copy}"></div>

</body>
</html>
